{% extends 'base.html' %}

{% block content %}

<div class="form">
    <form action="{{url_for('create_students')}}" method="post">
        <h3>Create a student</h3>
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" name="name" id="" class="form-control">
        </div>
        <div class="form-group">
            <label for="age">Age</label>
            <input type="int" name="age" id="" class="form-control">
        </div>
        <div class="form-group">
            <label for="registration_no">Registration Number</label>
            <input type="text" name="registration_no" id="" class="form-control">
        </div>
        <div class="form-group">
            <input type="submit" value="Add Student" class="btn btn-primary">
        </div>
    </form>
</div>


{% endblock content%}